@import url("./src/assets/fonts/merriweather.css");
@import url("./src/styles/header.css");
@import url("./src/styles/main.css");
@import url("./src/styles/footer.css");
@import url("./src/styles/popup.css");

html {
  position: relative;
  max-width: 1920px;
  min-height: 100vh;
  height: max-content;
  padding: 0 352px;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Merriweather';
  background-color: #e5e5e5;
  --h1: 24px;
  --h2: 18px;
  --h3: 16px;
  --h4-6: 14px;
  --special-text-size: 36px;
}

body {
  margin: 0;
}

#app {
  width: 100%;
}

h1 {
  font-size: var(--h1);
  font-weight: 700;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

a,
h4,
h5,
h6 {
  font-size: var(--h4-6);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  line-height: 1.5;
}

h2 {
  line-height: 1.52;
}

a, h5 {
  font-weight: 400;
}

h6 {
  font-weight: lighter;
}

li {
  list-style: none;
}

button {
  padding: 13px 36px 14px;
  border: none;
  background: #403432;
  color: #fff;
  cursor: pointer;
  font-size: var(--h4-6);
  line-height: 1.5;
  font-weight: 700;
}

button:hover {
  background: #776763;
}

button:disabled {
  background: #c1b4b1;
}

.navigation {
  width: 640px;
  box-sizing: border-box;
  padding-left: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_footer {
  width: 690px;
  padding-left: 146px;
  color: #555;
}

@media (max-width: 1800px) {
  html {
    max-width: 1280px;
    padding: 0 36px;
  }
}

@media (max-width: 1280px) {
  .navigation {
    width: 480px;
    padding-left: 0;
  }
}

@media (max-width: 1074px) {
  .navigation {
    width: 420px;
  }
}

@media (max-width: 1000px) {
  .navigation {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (max-width: 528px) {
  html {
    padding: 0 12px;
  }

  .navigation_footer {
    margin: 0;
  }
}

@media (max-width: 448px) {
  h1 {
    font-size: var(--h2);
  }

  .navigation-link > h4 {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigation-link {
    width: max-content;
    margin: 0 4px;
  }
}
