main {
  padding-top: 45px;
  margin-bottom: 128px;
}

.items {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item {
  width: 280px;
  height: 328px;
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.item__image {
  width: 100%;
  height: 160px;
  min-height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.item__container {
  width: 100%;
  padding: 24px;
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item__title {
  max-width: 220px;
  margin-bottom: 22px;
  text-transform: capitalize;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__oldPrice {
  color: #a0a0a0;
  text-decoration: line-through;
}

.item__price {
  color: #343030;
}

.item__price-button {
  max-width: 116px;
  padding: 13px 28px 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item__reserved {
  width: 118px;
  max-width: 118px;
  padding: 14px 9px 13px 11px;
  background: #5b3a32;
}

.item__reserved::before {
  content: url("../assets/icons/inBasket.svg");
}

.item__saled {
  opacity: 0.5;
}

.preloader {
  width: 48px;
  height: 48px;
  margin: 0;
  border: 3px solid #1a1b22;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-color: #d1d2d6;
  border-radius: 50%;
  -webkit-animation: spin 0.75s infinite linear;
  animation: spin 0.75s infinite linear;
}

@media (max-width: 1000px) {
  main {
    padding-top: 12px;
  }

  .items {
    margin-top: 8px;
  }
}

@media (max-width: 640px) {
  .item {
    width: 210px;
    height: 246px;
  }

  .item__image {
    height: 105px;
    min-height: 105px;
  }

  .item__container {
    padding: 4px;
  }

  .item__title {
    margin: 8px 0;
    font-size: var(--h3);
  }

  .item__price {
    font-size: var(--h4-6);
  }

  .item__price-button {
    width: 87px;
    padding: 8px 0;
  }

  .item__reserved {
    width: 89px;
    max-width: 89px;
    padding: 8px 0;
  }
}

@media (max-width: 448px) {
  main {
    padding-top: 8px;
  }

  .item {
    width: 175px;
    height: 205px;
  }

  .item__title {
    margin: 0;
    font-size: var(--h4-6);
  }

  .item__image {
    height: 90px;
    min-height: 90px;
  }

  .item__oldPrice,
  .item__price {
    font-size: 12px;
  }
}

@media (max-width: 384px) {
  main > h1 {
    text-align: center;
  }

  .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
