main {
  padding-top: 45px;
  margin-bottom: 128px;
}

.items {
  width: 100%;
  height: max-content;
  margin: auto;
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 280px;
  height: 328px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.item__image {
  width: 100%;
  height: 160px;
  min-height: 160px;
  object-fit: cover;
  object-position: top;
}

.item__container {
  width: 100%;
  padding: 24px;
  padding-top: 4px;
  box-sizing: border-box;
}

.item__title {
  max-width: 220px;
  margin-bottom: 22px;
  text-transform: capitalize;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__trade {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.item__oldPrice {
  color: #a0a0a0;
  text-decoration: line-through;
}

.item__price {
  color: #343030;
}

.item__price-button {
  max-width: 116px;
  padding: 13px 28px 14px;
  box-sizing: border-box;
}

.item__reserved {
  width: 118px;
  max-width: 118px;
  padding: 14px 9px 13px 11px;
  background: #5b3a32;
}

.item__reserved::before {
  content: url('../assets/icons/inBasket.svg');
}

.item__saled {
  opacity: .5;
}

.preloader{
	width: 48px;
	height: 48px;
  margin: 0;
	border: 3px solid #1A1B22;
  box-sizing: border-box;
	border-bottom-color: #D1D2D6;
	border-radius: 50%;
	-webkit-animation: spin .75s infinite linear;
	        animation: spin .75s infinite linear;
}

@media (max-width: 1000px) {
  main {
    padding-top: 12px;
  }

  .items {
    margin-top: 8px;
  }
}

@media (max-width: 640px) {
  .item {
    width: 210px;
    height: 246px;
  }

  .item__image {
    height: 105px;
    min-height: 105px;
  }

  .item__container {
    padding: 4px;
  }

  .item__title {
    margin: 8px 0;
    font-size: var(--h3);
  }

  .item__price {
    font-size: var(--h4-6);
  }

  .item__price-button {
    width: 87px;
    padding: 8px 0;
  }

  .item__reserved {
    width: 89px;
    max-width: 89px;
    padding: 8px 0;
  }
}

@media (max-width: 448px) {
  main {
    padding-top: 8px;
  }

  .item {
    width: 175px;
    height: 205px;
  }

  .item__title {
    margin: 0;
    font-size: var(--h4-6);
  }

  .item__image {
    height: 90px;
    min-height: 90px;
  }

  .item__oldPrice,
  .item__price {
    font-size: 12px;
  }
}

@media (max-width: 384px) {
  main > h1 {
    text-align: center;
  }

  .items {
    flex-direction: column;
    align-items: center;
  }
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
